<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Scissor</title>
</head>
<body>
    <div class="container">
    <h1>Scissor</h1>
    <h2>Shorten your URL in less than 2 minutes! :)</h2>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
    
    
    <input  required placeholder="Paste url" type="url" name="fullUrl" id="fullUrl" class="form-control col">
    <input placeholder="Custom Domain" type="text" name="customDomain" id="customDomain" class="form-control col">
    <input placeholder="About your url" type="text" name="customSlug" id="customSlug" class="form-control col">
    <button class="btn btn-success" type="submit">Shorten your url!</button>
    </form>
<div class="table table-responsive">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Full Url</th>
                <th>Shortened Url</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach((shortUrl, index) => { %>

            
            <tr>
                <td><a href="<%= shortUrl.full %>"><%=shortUrl.full %></a></td>
                <td><a href="<%= shortUrl.short %>"><%=shortUrl.short %></a></td>
                <td><%= shortUrl.clicks %></td>
                <td><img src="<%= qrCodes[index] %>" alt="QR Code"></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</div>
    
</div>
 
</body>
</html>